.background{
	-fx-background-color: #006ABC;
}
	

.button{
	-fx-background-color: #006ABC;
	-fx-text-fill: #E4F2F4;
	}

#labelHome{ 
	-fx-text-fill: #E4F2F4;
	-fx-font-weight: bold;
}

#sfondoHome{
	-fx-background-color: #CFFCFE;
}
