.tool-bar{
 -fx-background-color: #011F40 ;
 }
 .tool-bar .button {  
  -fx-background-color: #97F6F6
  }
  
  .first-titled-pane .title{
  -fx-background-color: #137CCA
  
  }
  
  .tableView {
  -fx-background-color: #137CCA
  }
  
  .button {  
  -fx-background-color:#00AFFF;
  }
  
  