 .tool-bar{
 -fx-background-color: #011F40 ;
 }
.tool-bar .button {  
  -fx-background-color: #97F6F6
  }

.button {  
  -fx-background-color:#00AFFF;
  }
  
 .button .text{  
  
  }
  
  .grid {
  -fx-background-color: #CCFDFD;
  -fx-border-color: #011F40;
  
  }